 svg {
    margin-top: 1px;
}

.backButtonStyle {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;

    span {
        color: gray;
        padding-left: 4px;
    }
    mat-icon {
        color: gray;
        font-size: x-large;
    }
}