<section class="bg-red-50 h-screen">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a [routerLink]="['/login']" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
            <img class="w-362 h-36 mr-2" src="assets/images/fulgiLogo.png" alt="logo">
        </a>
        <app-spinner *ngIf="loading"></app-spinner>
        <div *ngIf="!loading" class="w-full bg-red-50 rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <form [formGroup]="formulary" (ngSubmit)="onSudmit()" class="space-y-4 md:space-y-6" action="#">
                    <div>
                        <label for="compledName" class="block mb-2 text-sm font-medium text-gray-900">{{"Compled Name" | translate}}</label>
                        <input formControlName="compledName" type="text" name="compledName" id="compledName"
                            class="bg-red-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            placeholder="name"
                            required>
                    </div>
                    <div>
                        <label for="compledSurname" class="block mb-2 text-sm font-medium text-gray-900">{{"Compled Surname" | translate}}</label>
                        <input formControlName="compledSurname" type="text" name="compledSurname" id="compledSurname"
                            class="bg-red-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            placeholder="surname"
                            required>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">{{"Email" | translate}}</label>
                        <input formControlName="email" type="email" name="email" id="email"
                            class="bg-red-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            placeholder="name@company.com" required>
                    </div>
                    <div>
                        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">{{"Phone" | translate}}</label>
                        <input formControlName="phone" type="number" name="phone" id="phone"
                            class="bg-red-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            placeholder="+54 9 11 42127447"
                            required>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">{{"Password" | translate}}</label>
                        <input formControlName="password" type="password" name="password" id="password"
                            placeholder="••••••••"
                            class="bg-red-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                            required>
                    </div>
                    <button type="submit"
                        class="w-full h-10 bg-red-100 text-gray-900 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        (click)="onSudmit()">{{"Create account" | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</section>